<div class="container">
  <h1>HR Dashboard</h1>
  <div class="summary">
    <div
      class="flex flex-col gap-2 p-8 sm:flex-row sm:items-center sm:gap-6 sm:py-4 ..."
    >
      <p>{{ employeeCount }}</p>
      <p>Employees</p>
    </div>
    <div class="summary-box">
      <p>{{ newJoineeCount }}</p>
      <p>New Joinees</p>
    </div>
    <div class="summary-box">
      <p>{{ departmentCount }}</p>
      <p>Departments</p>
    </div>
    <div class="summary-box">
      <p>{{ leaveCount }}</p>
      <p>Leaves</p>
    </div>
  </div>
  <div class="container-mid">
    <div>
      <p>Gender Ratio</p>
      <div>5 Female</div>
      <div>4 Male</div>
    </div>
    <div>
      <p>Pending Requests</p>
      <p>Leave</p>
      <p>Allowance</p>
      <p>Overtime</p>
      <p>Data Change</p>
    </div>
  </div>
  <div class="container-last">
    <div>
      <p>Long Absenteeism</p>
      <p>More than 3 days</p>
      <p>More than days</p>
    </div>
    <div>
      <p>Latest Events</p>
      <p>Company Anniversary</p>
    </div>
  </div>
</div>
