<div class="admin-page">
  <div class="nav-bar">
    <app-nav-bar> </app-nav-bar>
  </div>
  <div class="main-body">
    <div
      class="side-bar-container"
      [ngClass]="{ collapsed: isSidebarCollapsed }"
    >
      <div class="side-bar-content" *ngIf="!isSidebarCollapsed">
        <app-admin-side-bar
          [isSidebarCollapsed]="isSidebarCollapsed"
          (toggleSidebar)="toggleSidebar()"
        ></app-admin-side-bar>
      </div>
    </div>
    <div class="container">
      <router-outlet> </router-outlet>
    </div>
  </div>
</div>
