<mat-card class="create-department">
  <div class="icons">
    <mat-icon class="close" [routerLink]="['/admin/department']"
      >close</mat-icon
    >
  </div>
  <h1 class="create-department-title">Create Department</h1>

  <input id="department-name" [(ngModel)]="departmentName" placeholder="Name" />
  <input id="department-code" [(ngModel)]="departmentCode" placeholder="Code" />
  <button class="btn" (click)="createDepartment()" type="submit">Create</button>
  <!-- Message section -->
  <div *ngIf="message" class="success-message">
    {{ message }}
  </div>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</mat-card>
