<mat-card class="create-department">
  <div class="icons">
    <mat-icon class="close" [routerLink]="['/admin/department']"
      >close</mat-icon
    >
  </div>
  <h1 class="create-department-title">Create Department</h1>

  <input
    id="department-field"
    [(ngModel)]="departmentName"
    placeholder="Name"
  />
  <input
    id="department-field"
    [(ngModel)]="departmentCode"
    placeholder="Code"
  />
  <button class="btn" (click)="createDepartment()" type="submit">Create</button>
</mat-card>
