<div class="department-container">
  <div class="department-actions">
    <button class="btn add-department" [routerLink]="['add-department']">
      Add
    </button>

    <button class="btn bulk-upload" [routerLink]="['add-bulk-department']">
      Bulk
    </button>

    <input
      class="search"
      type="text"
      placeholder="Search"
      [(ngModel)]="searchText"
      (keydown.enter)="getFilteredDepartments(searchText)"
      name="search"
    />
    <button mat-icon-button [matTooltip]="'Download Excel'">
      <mat-icon (click)="downloadExcel()" style="color: green"
        >description</mat-icon
      >
    </button>

    <button mat-icon-button [matTooltip]="'Download CSV'">
      <mat-icon (click)="downloadCSV()">download</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
