<div class="employee-container">
  <div class="employee-actions">
    <button class="btn add-employee" [routerLink]="['add-employee']">
      Add
    </button>

    <button class="btn bulk-upload" [routerLink]="['add-bulk-employee']">
      Bulk
    </button>

    <input
      class="search"
      type="text"
      placeholder="Search"
      [(ngModel)]="searchText"
      name="search"
    />
    <button mat-icon-button [matTooltip]="'Download Excel'">
      <mat-icon style="color: green">description</mat-icon>
    </button>

    <button mat-icon-button [matTooltip]="'Download CSV'">
      <mat-icon>download</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
