<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/images/logo.png" alt="Company Logo" class="logo" />
    </a>
  </div>
  <div class="navbar-right">
    <button class="clock-in-btn">
      <mat-icon style="color: rgb(53, 53, 53)">fingerprint</mat-icon>
      CLOCK IN
      <p style="color: rgb(0, 0, 0)">{{ currentTime }}</p>
    </button>

    <mat-icon>notifications</mat-icon>
    <mat-icon>account_circle</mat-icon>
  </div>
</nav>
