<nav class="navbar">
  <ul>
    <li class="logo">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >HRIMS</a
      >
    </li>
    <li class="home">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        ><mat-icon>home</mat-icon></a
      >
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        ><mat-icon>notifications</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        ><mat-icon>account_circle</mat-icon>
      </a>
    </li>
  </ul>
</nav>
