<div class="mat-elevation-z2">
  <table mat-table [dataSource]="dataSource" class="mat-table" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="column-id">ID</th>
      <td
        mat-cell
        *matCellDef="let department; let i = index"
        class="column-id"
      >
        {{ pageNumber * pageSize + i + 1 }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="column-name">Name</th>
      <td mat-cell *matCellDef="let department" class="column-name">
        {{ department.name }}
      </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef class="column-code">Code</th>
      <td mat-cell *matCellDef="let department" class="column-code">
        {{ department.code }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="column-code">Actions</th>
      <td mat-cell *matCellDef="let department" class="table-actions">
        <a
          [routerLink]="['/view-department', department.id]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <button class="btn view-btn">View</button> </a
        ><a
          [routerLink]="['/update-department', department.id]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <button class="btn edit-btn">Edit</button>
        </a>
        <button
          class="btn delete-btn"
          (click)="deleteDepartment(department.id)"
        >
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber"
  [pageSizeOptions]="[4, 6, 8]"
  (page)="onPageChange($event)"
>
</mat-paginator>
