<div class="sidebar">
  <p>Common Activities</p>
  <button class="btn">Leave Request</button>
  <button class="btn">Time Request</button>
  <button class="btn">Overtime Request</button>
  <button class="btn">Allowance Request</button>
  <button class="btn">View All Activities</button>
  <p>My App</p>
  <button class="btn"><mat-icon>account_circle</mat-icon> My Profile</button>
  <button class="btn"><mat-icon>group</mat-icon>My Team</button>
  <button class="btn"><mat-icon>account_balance</mat-icon>Pay & Taxes</button>
  <button class="btn"><mat-icon>event_busy</mat-icon>Leave</button>
  <button class="btn"><mat-icon>access_time</mat-icon>Time</button>
  <button class="btn"><mat-icon>assignment</mat-icon>Tasks</button>
  <button class="btn"><mat-icon>library_books</mat-icon>Learning</button>
  <button class="btn">View All Apps</button>
  <a>Collapse</a>
</div>
