.view-department-card {
    width: 40%;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 10px;
    padding: 10px;
  }
  
  .view-department-title {
    margin: 10px;
    padding: 10px;

}

.icons {
    display: flex;
    margin-bottom: 25px;
    justify-content: flex-end;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: #666;
}

  