.department-card {
    margin: 20px auto;
    max-width: 400px;
    padding: 16px;
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    color: #666;
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.arrow_back {
    margin-right: 250px;
}
  