<div *ngIf="department; else loading">
  <mat-card class="view-department-card">
    <div class="icons">
      <mat-icon class="close" [routerLink]="['/admin/department']"
        >close</mat-icon
      >
    </div>
    <h1 class="view-department-title">Create Department</h1>

    <mat-card-content>
      <p><strong>ID:</strong> {{ department.id }}</p>
      <p><strong>Name:</strong> {{ department.name }}</p>
      <p><strong>Code:</strong> {{ department.code }}</p>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <div class="loading-container">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="40"
    ></mat-progress-spinner>
    <p>Loading department details...</p>
  </div>
</ng-template>
