<mat-card class="update-department-card">
  <div class="icons">
    <mat-icon class="close" [routerLink]="['/admin/department']"
      >close</mat-icon
    >
  </div>
  <h1 class="view-department-title">Update Department</h1>

  <input id="department-name" [(ngModel)]="departmentName" placeholder="Name" />
  <input id="department-code" [(ngModel)]="departmentCode" placeholder="Code" />
  <button class="btn" (click)="updateDepartment()" type="submit">Update</button>

  <div *ngIf="message" class="success-message">
    {{ message }}
  </div>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</mat-card>
