<div class="sidebar">
  <button class="btn" [routerLink]="['dashboard']">
    <mat-icon>dashboard</mat-icon>Dashboard
  </button>
  <button class="btn" [routerLink]="['department']">
    <mat-icon>business</mat-icon>Department
  </button>
  <button class="btn" [routerLink]="['employee']">
    <mat-icon>people</mat-icon>Employees
  </button>
  <button class="btn" [routerLink]="['leave']">
    <mat-icon>event_busy</mat-icon>Leave
  </button>
  <button class="btn" [routerLink]="['payroll']">
    <mat-icon>payment</mat-icon>Payroll
  </button>
</div>
