<div class="update-department">
  <h1>Update Department</h1>
  <div class="icons">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <mat-icon class="arrow_back">arrow_back</mat-icon>
    </a>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <mat-icon class="close">close</mat-icon>
    </a>
  </div>
  <input id="department-name" [(ngModel)]="departmentName" placeholder="Name" />
  <input id="department-code" [(ngModel)]="departmentCode" placeholder="Code" />
  <button class="btn" (click)="updateDepartment()" type="submit">Update</button>

  <div *ngIf="message" class="success-message">
    {{ message }}
  </div>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</div>
