<h2 mat-dialog-title>Create Department</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Department Name</mat-label>
    <input matInput [(ngModel)]="departmentName" />
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Department Code</mat-label>
    <input matInput [(ngModel)]="departmentCode" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onCreate()">Create</button>
</mat-dialog-actions>
