<mat-card class="upload-department">
  <div class="icons">
    <mat-icon class="close" [routerLink]="['/admin/department']"
      >close</mat-icon
    >
  </div>

  <h1 class="create-department-title">Upload Department</h1>
  <mat-card-content>
    <div class="file-input-wrapper">
      <input type="file" (change)="onFileSelected($event)" /><button
        (click)="uploadFile()"
      >
        Upload File
      </button>
      <span *ngIf="selectedFileName" class="file-name">
        {{ selectedFileName }}
      </span>
    </div>
  </mat-card-content>

  <div *ngIf="message" class="success-message">
    {{ message }}
  </div>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</mat-card>
